@font-face {
    font-family: 'bitter';
    src: url('../fonts/bitter.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
}

:root {
    --font-size: 16px;
    --font-size-small: 12px;
    --font-color: #444;
    --line-height: 1.6em;
    --page-width: 60em;
    --font-stack: 'bitter', serif;
    --global-left-margin: 2.5em;
    --menu-font-weight: 150;
    /* --background-color: #FFFFFD; */
    --background-color: #F3EDE5;
    --primary-color: #6073D2;
    --font-color: #1A1110;
}

@media only screen and (max-width: 850px) {
    :root {
        --font-size: 14px;
        --font-color: #444;
        --line-height: 1.6em;
        --page-width: 60em;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-stack);
    color: var(--font-color);
    clear: both;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: calc(var(--global-left-margin) * 2);
    margin-right: 5em;
    margin-bottom: 1em;
}

h1 {
    letter-spacing: 0.25em;
    font-weight: 150;
}

footer {
    font-family: var(--font-stack);
    font-size: var(--font-size-small);
    color: var(--font-color);
    margin-left: calc(var(--global-left-margin) * 2.6);
    margin-right: 5em;
    margin-bottom: 5em;
}

.main-nav {
    text-align: right;
    font-weight: calc(var(--menu-font-weight) * 1.5);
    font-family: var(--font-stack);
    margin-left: calc(var(--global-left-margin) * 8/3);
}

.main-nav a {
    display: inline-block;
    margin-left: calc(var(--global-left-margin));
    color: var(--font-color);
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: opacity 0.2s;
    opacity: 0.5;  /* Default dimmed state */
    position: relative;
}

.main-nav a:hover {
    opacity: 1;
}

.main-nav a.active {
    opacity: 1;
}

.main-nav a.active::before {
    content: ' ';
    position: absolute;
    left: calc(var(--global-left-margin) * 2/3 * -1);
    top: 50%;
    transform: translateY(-50%);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.image-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(
        auto-fit,
        minmax(calc(var(--page-width) / 3), 1fr)
    );
    margin-left: calc(var(--global-left-margin) * 2);
    margin-right: 5em;
    margin-bottom: 5em;    
}

.image-grid .img-responsive {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    font-family: var(--font-stack);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}

.taxonomy-nav {
    text-align: left;
    font-weight: calc(var(--menu-font-weight) * 1.5);
    font-family: var(--font-stack);
    margin-left: calc(var(--global-left-margin) * 8/3);
    margin-bottom: 2em;
}

.taxonomy-nav a {
    display: inline-block;
    margin-right: calc(var(--global-left-margin));
    color: var(--font-color);
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: opacity 0.2s;
    opacity: 0.5;  /* Default dimmed state */
    position: relative;
}

.taxonomy-nav a:hover {
    opacity: 1;  /* Full opacity on hover */
}

.taxonomy-nav a.active {
    opacity: 1;  /* Active link is always full opacity */
}

.taxonomy-nav a.active::before {
    content: ' ';
    position: absolute;
    left: calc(var(--global-left-margin) * 2/3 * -1);
    top: 50%;
    transform: translateY(-50%);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.grid-spacer {
    /* Empty space - no content needed */
}

.artwork-card {
    display: flex;
    flex-direction: column;
}

.artwork-info {
    margin-top: 0.5em;
    font-family: var(--font-stack);
    font-size: var(--font-size-small);
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
}

.artwork-title {
    /* Left side */
}

.artwork-tags {
    opacity: 0.7;
    /* Right side */
}

